@charset "UTF-8";
/* Navigation Menu */

a { 
	outline-color: red;
	outline-width: 2px;
}

ul {
	margin-bottom: 3px;
}

ul#menu11 {
	width: 985px; 
	list-style: none;
	margin: 0;
    padding: 0;	
}

ul#menu11 li { display: inline; }

ul#menu11 li#blank {
	display: block; 
	float: left; 
	height: 47px;
	background-image: url(../images/menu11.png);
	background-position: -875px 0;
	width: 110px;
	color: #fff;
	text-align: center;
	font-weight: bold;
}

	
ul#menu11 li a {
	display: block; float: left; height: 47px;
	background-image: url(../images/menu11.png); 
	text-indent: -9999px;
	width: 125px;
	font-size: 1.154em;
    font-weight: bold;
    color: #FFFFFF;
    /*background: #3d3d3d;*/
}

/* Normal State */	

	ul#menu11 li#home a { background-position: 0 0;}
	
	ul#menu11 li#search a { background-position: -125px 0; }
	
	ul#menu11 li#cat a { background-position: -250px 0; }
	
	ul#menu11 li#lab a { background-position: -375px 0; }
	
	ul#menu11 li#agency a { background-position: -500px 0; }
	
	ul#menu11 li#faq a { background-position: -625px 0; }
	
	ul#menu11 li#soon a { background-position: -750px 0; }
	
/* Hover State */	

	ul#menu11 li#home a:hover, ul#menu11 li#home a:active, ul#menu11 li#home a#current {
		background-position: 0 -47px;	
	}
	
	ul#menu11 li#search a:hover, ul#menu11 li#search a:active, ul#menu11 li#search a#current {
		background-position: -125px -47px;	
	}
	
	ul#menu11 li#cat a:hover, ul#menu11 li#cat a:active, ul#menu11 li#cat a#current {
		background-position: -250px -47px;	
	}
	
	ul#menu11 li#lab a:hover, ul#menu11 li#lab a:active, ul#menu11 li#lab a#current {
		background-position: -375px -47px;	
	}

	ul#menu11 li#agency a:hover, ul#menu11 li#agency a:active, ul#menu11 li#agency a#current {
		background-position: -500px -47px;	
	}
	
	ul#menu11 li#faq a:hover, ul#menu11 li#faq a:active, ul#menu11 li#faq a#current {
		background-position: -625px -47px;	
	}
	ul#menu11 li#soon a:hover, ul#menu11 li#soon a:active, ul#menu11 li#soon a#current {
		background-position: -750px -47px;	
	}