@import "global.css"; /* CSS for all global elements like headers, footers are in global.css */

a { color: #3A5A7A; }

a.noDecoration { text-decoration:none; }
a.noDecoration:hover { font-weight: bold;  }

a.ATnoDecor	{ text-decoration:none; }

.small { font-size:0.769em; color:#666; }
.clearLeft {
	clear:left;
}
.removableFilter {
	padding-bottom:5px;
}
.l-btns {
    background-image: url("../images/yui-sprite.png");
    background-repeat: no-repeat;
    cursor: pointer;
}
#n-dd {
	background-position: -50px -2329px;
    height: 35px;
    width: 30px;
	margin: 10px auto;
	display: none;
}
#n-dd:hover {
	background-position: 0 -2329px;
}
.hidden{
	display: none;
}
.hide{
	display:none;
}

/* Header / DOL - Enforcement Data Banner */
#Bannersmall	{margin-left:0px; margin-top:0px; width:400px; height:79px; margin-bottom:0px; float:left; display:inline; background-image:url(../images/Banner.gif); background-repeat:no-repeat; overflow:hidden; cursor:pointer } 
#Banner	{margin-left:0px; margin-top:0px; width:984px; height:41px; margin-bottom:0px; float:left; display:inline; background-image:url(../images/BannerEnforcement.gif); background-repeat:no-repeat; overflow:hidden; cursor:pointer }
#Header	{background-image:url(../images/RedVerticalGrad.jpg); background-repeat:repeat-x; height:41px; width:984px;}
#LogoHeader {width:975px; height:90px;}
.ShareStyle {font-size:0.923em; font-family:Tahoma;}
.TextResizerLinks	{font-size:0.769em;letter-spacing:.03em;color:#000000; text-align:right;}

/* Breadcrumbs */

#crumbs-container {
	margin-top: 15px;
	margin-bottom: 5px;
	float: left;
	min-width: 50%;
} 

#crumbs-container div {
	float: left;
}

.crumb {padding: 0 4px; font-size:0.923em; color:#3A5A7A; }
.crumb a	{color:#3A5A7A;text-decoration:none; }
.crumb a:hover {color:#760000; text-decoration:underline;} 

.crumb a:visited	{text-decoration:none;}
.crumb .current {text-decoration:none;}

.crumb-seperator { 
	margin-top: 0px;
}



h4.searchCriteria { 
}

.search div{
	padding: 1px;
}

.search .childFilter {
	padding-left: 18px;
}

/* Content Container */

#container {
	text-align: left;
}

/* Content area */

.content	{
	padding:2px 10px 10px 10px;
	position:relative;
	line-height:1.5em;
	


	/* background-color:#FFFFFF; removed because it hides data dictionary link in IE */
	
	font: 1.000em Tahoma;
	color:#000;
}

.horizonLine {
	border-top: #999 solid 1px;
	padding-top:10px;
	width:985px;
	margin:0 -10px; 
	/*line-height:1em;*/
	}
.contentMain	{
	padding:2px 10px 10px 10px;
	position:relative;
	line-height:1.5em;
	font: 1.000em arial;
	color:#666;
}

.contentIndex	{
	padding:2px 10px 10px 5px;
	position:relative;
	line-height:1.5em;
	color:#333;

}

.contentFont {
	/*Used when you want the content font without the positioning and padding*/
	font: 1.000em Tahoma;
	color:#666;
}

.content-wide	{padding:20px 20px 20px 20px; position:relative; line-height:1.5em;}

.contentMain h1 {
	
	font: 2.0em Georgia, Times New Roman, Times, serif; 
	margin:0; 
	padding-top:5px; 
	line-height:1em;
	color:#760000;
}

.contentIndex h1 {
	
	font: 2.0em Georgia, Times New Roman, Times, serif; 
	margin:0; 
	padding-top:5px; 
	line-height:1em;
	color:#760000;
}
.contentIndex .shadowed-header {
	background-image: none !important;
	border-bottom: #999 solid 1px;
	padding: 13px 0 5px 15px;
	font: 1.369em Georgia, Times New Roman, Times, serif; 
	margin:0; 
	line-height:1em;
	color:#760000;
}
.contentIndex h1.agencyTools2 {
	background-image:url(../images/AT_h1_bg.gif); 
	background-position:bottom left; 
	padding:13px 0 20px 15px; 
	background-repeat:no-repeat;
	font: 1.385em Georgia, Times New Roman, Times, serif; 
	margin:0; 
	line-height:1em;
	color:#760000;
}

.contentMain h2 {
	padding-top:5px;
	line-height:1.5em;
	font-family:Georgia,"Times New Roman",Times,serif;
	color:#000;
	font-weight: normal;
	font-size: 1.538em;
}

.contentIndex h2 {
	padding-top:5px;
	line-height:1.5em;
	font-family:Georgia,"Times New Roman",Times,serif;
	color:#000;
	font-weight: normal;
	font-size: 1.538em;
}

.content h1 {      
     font: 1.538em Georgia, Times New Roman, Times, serif; 
     margin:0; 
     padding-top:5px;
     line-height:1em;
     color:#760000;
}

#contents-header h3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.538em;
}
.content h2 {
	padding-top:5px;
	line-height:1.5em;
	font-family:Georgia,"Times New Roman",Times,serif;
	color:#000;
	font-weight: normal;
	font-size: 1.538em;
}

.content h4 {
	font-family: Georgia, "Times New Roman", Times, serif;}





/* Lists */
ul	{
	list-style-position:outside; /* list-style:square; */
/*	list-style-image:url(/images/bullet-gray.gif); */
	color:#333;
	margin-left:20px;
	padding-left:5px;
	font-size:1.0em;
	margin-bottom:7px;
	padding-left:10px;
}
ul a	{color:#333; text-decoration:none;}
ul a:hover	{color:#000; text-decoration:underline;}

/* Forms */
input.searchText	{width:167px; font-size:0.846em; float:left;}
input.searchButton	{margin-left:2px; margin-top:0px;}
input.subscribeButton	{margin-left:2px; margin-top:0px;}
input.subscribeText	{width:152px; font-size:0.846em; float:left;}
#Search	{font-size:0.846em; text-align:left; margin-left:0px; float:left; display:inline; color:#FFF;}
#Searchlabel a	{font-size:0.846em; color:#f6f6f6;}
#Subscribe	{font-size:0.846em; text-align:left; margin-left:0px; width:230px; height:35px; float:left; margin-bottom:0px; display:inline; color:#FFF}
#SubscribeForm	{padding-top:2px;}
#Subscribelabel a	{font-size:0.846em; color:#f6f6f6;}


/* Data Catalog */
.skip 		{left:-1000px;overflow:hidden;width:1px;position:absolute;height:1px}
.content-catalog	{position:relative; line-height:1.5em;}
.catheadheight	{height:22px;}
.catname		{background-color:#414040; color:#ffffff; font-size:1.000em; font-weight:bold; padding:3px 3px 3px 20px; vertical-align:middle; text-align:left; white-space:nowrap;}
.catheader		{background-color:#414040; color:#ffffff; font-size:0.846em; font-weight:bold; padding:3px; vertical-align:middle; text-align:center; white-space:nowrap;}
/*.catheader a	{line-height:1.1em;} */
.catheader2		{color:#3c3d41; padding:3px; border-top:#c3c3c3 solid 1px; background-color:#fff; width:50%; font-size:0.846em; vertical-align:middle; text-align:center; white-space:nowrap; font-weight: bold;}
.catheader2a		{color:#3c3d41; padding:3px; border-top:none; background-color:#fff; width:89px; font-size:0.846em; vertical-align:middle; text-align:center; white-space:nowrap; font-weight: bold;}
.catheader3		{color:#3c3d41; padding:3px 20px; border-top:#c3c3c3 solid 1px; background-color:#ebebeb; font-size:0.846em; vertical-align:middle; text-align:left; white-space:nowrap;}
.catheaderpad	{padding-right:3px; padding-left:3px;}
.nomargin	{margin:0; padding:0; text-decoration:none; }
.nomargin a {text-decoration:none;}
.white			{color:#760000; font-size:0.846em; font-weight:bold; text-decoration:none;}
.nomw {margin:0; padding:0; color:#ffffff; font-size:0.846em; font-weight:bold; text-decoration:none;}
.nomw a {text-decoration:none;}

 .tablehedred {color:#ffffff; font-size:0.846em; font-weight:bold; text-decoration:none;  background-repeat:no-repeat; background-position:bottom left; margin:0; } 


.tablehedred a {text-decoration:none;} 
.tablehedred a:hover {color:#ffffff;}

.last-column-pad {padding-right:20px;}
.tabletext {color:#3c3d41;}
.tabletext a {color:#ffffff; text-decoration:none;}




/*Data Catalog Popups */

#popup{
}

#popup div{
	position: absolute;
}

#popup span {
	display:none;
}

#popup a {
	font-size:16px; color:#760000;;
}

#popup a:hover {
	color: #760000;;
	text-decoration: none;
}

#popup a:hover span {
	display:block;
	position:relative;
	left: -115px;
	/*top:12px;
	left: -100px;
	width:176px;
	height:200px;
	*/
	border:0;
	text-align:center;
	z-index:600;
}

#popup p {
	position:relative;
	z-index:500;
	margin:0;
	padding:0;
	font-size:0.846em;
}



.name			{font-size:1.000em; color:#760000; text-decoration:none; line-height:1.3em; font-weight:bold; padding-left:15px; vertical-align:top; text-align:left;}
.name a {color:#760000; text-decoration:none;}
.teaser			{
	font-size:1.000em;
	margin-top:10px;
	margin-bottom:5px;
	font-weight: normal;
	color:#444;
}



.row-gray		{background-color:#ebebeb; padding:7px 5px; color:#666; font-weight:bold; font-size:1.000em; line-height:1.1em; vertical-align:middle; text-align:center;}
.row-white		{background-color:#fff; padding:7px 5px; font-size:1.000em; font-weight:bold; color:#666; line-height:1.1em; vertical-align:middle; text-align:center;}

#leftContent	{float:left; width:630px; padding: 0px 5px 5px 5px;}
#rightContent	{float:right; width: auto; height:auto; padding: 5px 5px 5px 5px;}

#rightDivider	{background-image:url(../images/rightDivider.gif); background-repeat:no-repeat;}

#stayConnected	{float:right; width: 300px; height:auto; padding: 5px 5px 5px 5px; margin-top:15px; }
#stayConnected	h1 {
	line-height:1.5em;
	font: 1.385em Helvetica Neue;
	color:#000;
	font-size: 1.538em;}
	
.rightBox { width:auto; border: 5px solid #E1E1E1; margin-top:0px;}
.rightBox .content {
	padding: 5px 5px 5px 5px;
	background-color:#FFF;
/*	text-align: center; */
}
.rightBox .header {
	font-size:1.385em;
	color:#760000;
	background-color:#FFF;
	margin-top:0;
	padding: 2px 0px 0px 2px;
	text-align: center;
}

.rightBox .StayConnected {
	font-size:1.385em;
	color:#7e1000;
	background-color:#FFF;
	margin-top:0;
	padding: 10px 0px 10px 0px;
	text-align: center;
}

.rightBox2 { width:auto; border: 5px solid #E1E1E1; margin-top:0px;}

.rightBox2 .content {
	padding: 15px 15px 15px 15px;
	background-color:#FFF;
	text-align: left;
	font-size:1.000em;
	margin-top:0px;
	margin-bottom:0px;
	font-weight: normal;
	color:#666;
}
.rightBox2 .header {
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:1.385em;
	color:#760000;
	background-color:#e7e9ea;
	margin-top:0;
	padding: 10px 0px 10px 0px;
	text-align: center;
}

table.indexTwoCol { background: url("../images/title_bg/title_bg_sprite4.png") no-repeat top left; }

.rightBox table { font-family:Verdana, Geneva, sans-serif; font-size:0.923em;}
.rightBox a { font-family:Verdana, Geneva, sans-serif; font-size:0.923em; text-decoration:none; color:#760000; margin-top:-2px;}
.rightBox a:hover {
	font-family:Verdana, Geneva, sans-serif;
	font-size:0.923em;
	text-decoration:underline;
	color:#003399;
	margin-top:-2px;
	text-align: right;
}
	
#stayConnected table { font-family:Verdana, Geneva, sans-serif; font-size:0.923em;}
#stayConnected a { font-family:Verdana, Geneva, sans-serif; font-size:0.923em; text-decoration:none; color:#003366; margin-top:-2px;}

#Main	{width:984px; background-color:#FFF; background-image:url(../images/OGDB_background_pic.png); margin:0 auto;}
#LeftColumn	{float:left; width:330px; margin-top:0px; margin-left:0px; padding-right:5px; border:0px solid #f0f0f0;}
#RightColumn	{float:right; font-size:0.769em; width:490px; margin-top:10px; margin-left:2px}
#RightColumn a	{color:#fff}
.IndexAgencies1	{
	padding:2px 50px 10px 5px;
	line-height:1.4em;
	position:relative;

}
.IndexAgencies	{
	padding:2px 50px 10px 5px;
	position:relative;

}

p.redText {
	color:#760000;
	text-align: left;
}


.helpText { border:thin #000; font-size:0.769em; color:#00F; text-decoration:none; font-weight:bold; padding: 5px 5px 10px 5px; width:750px; } 
#fade_link { border:thin #000; font-size:0.769em; color:#00F; text-decoration:none; font-weight:bold; padding: 5px 5px 10px 5px; width:750px; } 

.helpSep {padding: 5px 5px 0px 5px; width:650px;}

.rightIndex {
	background-image:url(../images/indexRight_background5.gif);
	background-repeat:repeat-y;
	
	
	vertical-align:top;
	}

.indexTable { background-color:#FFF;}

h2.sections { 
background-image:url(../images/h2_bg.gif); 
background-position:bottom left; padding:10px 0 20px 5px; background-repeat:no-repeat; color:#760000; font-size:1.231em; font-weight:bold; font-family:Georgia,"Times New Roman",Times,serif; line-height:.75em; letter-spacing:0px;}

h2.shadowed-header { 
	background: url("../images/title_bg/title_bg_sprite1.png") no-repeat scroll 20px 30px; 
	padding:10px 0 20px 30px; background-repeat:no-repeat; color:#760000; font-size:1.231em; font-weight:bold; font-family:Georgia,"Times New Roman",Times,serif; line-height:.75em; letter-spacing:0px;}

h2.comingSoon { padding:10px 0 15px 30px; color:#760000; font-size:0.923em; font-weight:bold; font-family:Georgia,"Times New Roman",Times,serif; line-height:.75em; letter-spacing:0px;}

h2.whatsnewHeading { text-transform: uppercase; }

ul.whatsnewlevel1 { color:#000;}
ul.whatsnewlevel2 { list-style-type: square;}

ul.whatsnewlevel1 a:hover { text-decoration: none; color: #666666; }

ul.whatsnewlevel3 { list-style-type: circle; color: #760000;}
ul.whatsnewlevel3  span { color: #333;}

p.comingSoon { padding-left:15px;}

td.agencyToolsContent {padding-left:45px;}

.container	{width:984px; height:auto; text-align:left;background-repeat:no-repeat;background-color:#FFF;}

.back-to-top { text-align: right; }




/* ------------ FAQ --------------- */

span.faq {color:#760000;
	   font-weight:bold;} 

#faq-container h1.shadowed-header {
    background-image: url("../images/AT_h1_bg_150.gif");
    padding-left: 30px;
}	   
	   

/* ------------ FeedBack ---------------  */
.feedback {padding-left:0; margin-top:195px; }
#feedback-container {
	height: 400px;
}	
#feedback-container .indexTwoCol {
	background: url("../images/indexTable_bg.gif") no-repeat;	
}

#feedback-container .agencyToolsContent {
	padding: 5px 100px 0 50px;
}

#feedback-container h1.shadowed-header {
	padding-left: 40px;
}



#agencytools-container	{
	font: 1.000em "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
}

#agencytools-container h1.shadowed-header {
    padding-left: 30px;
}	 


/*Search Box Styles */

.LeftSearchbox {
	/*background-image:url(../images/search_box_left_bg2.jpg);
	background-image:url(../images/indexRight_background5.gif);
	background-repeat:repeat-y;*/
	background-color:#F9F9F9;
	
	font-size:1.000em;
}

.horizontalDivider {
	background-image:url(../images/horizontalDivider.gif);
	background-repeat:no-repeat;
}

.LeftSearchbox h1 {
	margin-left:8px;
	margin-top:10px;
	font-size:1.231em;
	font-weight:bold;
	color:#760000;
	font-family: Arial, Helvetica, sans-serif;
}

.LeftSearchbox h2 {
	margin-left:8px;
	font-size:1.077em;
	font-weight:bold;
	color:#000;
	font-family:Georgia, "Times New Roman", Times, serif;
}

.LeftSearchbox p {
	margin-left:15px;
	margin-right:10px;
	margin-top:0px;
	font-size: 1.000em;
	color: #000;
}

.LeftSearchboxcolor {
	color:#760000;
	font-weight:bold;
	font-size:1.000em;
	
}


.LeftSearchbox ul {list-style-type:  none; padding: 0; margin: 0; }

.LeftSearchbox li {
	background-image:url(../images/checkmark.jpg);
	background-repeat: no-repeat;
	background-position: 8px;
	padding-left: 20px;
	padding-right:20px;
	padding-bottom:0px;
	padding-top:4px;
	font-size: 1.000em;
	vertical-align:top;
	background-position:6px 5px;
}

.SearchBoxTable {height:520px; width:946px;padding-left:15px; background-image:url(../images/search_box_left_bg5.jpg); background-repeat:no-repeat;}
/*.RightSearchbox {background-image:url(../images/search_box_rt_bg.jpg); background-repeat:no-repeat;} */
.TalkBack {background-image:url(../images/talkback.jpg); background-repeat:no-repeat;}
.TalkBack p	{margin-top:65px; margin-left:11px; font-weight:bold;}
.resultFont {
	/*font-size: 0.846em;*/
	width: 15%;
}
.resultFontCritera {
	font-size: 0.846em;
	font-weight: bold;
}
l
.search		{
	color:#666;
	width:233px;
	overflow:auto;
	padding:5px;
	font-weight: normal;
}
.searchdivider		{
	border-bottom:#c3c3c3 solid 1px;
	font-weight: normal;
}
#SearchByAgency {width:243px; background-color:#FFFFFF; margin-left:10px; margin-top:10px; border: 1px solid #CCC; font-size:1.077em; margin-bottom:7px;}

#SearchByAgency  h2{
	font-size:1.077em;
	font-weight:bold;
	color:#760000; 
	border-bottom: 1px solid #CCC; 
	margin: 0px 0px 7px 0px; 
	padding: 10px 0 2px 5px; 
	background-image:url(../images/navbg.gif); 
	background-repeat:repeat-x;
	height:25px;
	font-family: Arial, Helvetica, sans-serif;
	line-height:normal;
}	
#searchDataSetBox {
	height: 150px;
}
table.SearchByBoxes tbody, table.SearchByBoxes tr, table.SearchByBoxes td {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border-spacing:0px 0px 0px 0px;	
} 
.SearchByBoxes {
	margin-left:6px; margin-top:6px;
}
.SearchByBoxes h2 {
	font-weight: bold;
	font-size: 1.077em ;
	color:#760000;
	padding:2px;
	margin-bottom:10px;
	text-align:right;
	background-color: #CCC;
	font-family: Arial, Helvetica, sans-serif;
}
.SearchByBoxes h3{
	font-weight: bold;
	font-size: 1.273em;
	color:#760000;
	padding:0px;
	margin-bottom:0px;
	text-align:left;
	background-color:white;
	font-family: Arial, Helvetica, sans-serif;
}
.SearchByBoxes h3 img{
	cursor: pointer;
}
.SearchByBoxes h4{
	font-weight: bold;
	font-size: 1.077em ;
	color:#760000;
	padding:0px;
	margin-bottom:0px;
	text-align:right;
	background-color:white;
	font-family: Arial, Helvetica, sans-serif;
}
.SearchByBoxesClear {border: 1px solid #760000; background-color:white; color:#760000;}
.SearchByBoxesSearch {border: 1px solid #760000; background-color:#760000; color:white;}


/*Search Box Results Styles */

.dataDictionary { float:right; font-weight:bold;}
.middle			{vertical-align:middle;}
.alignRight { text-align:right;}

#search-table-top {
	min-height: 20px;	
}

#search-criteria { 
	font-size:0.846em; 
	font-family: helvetica;
	float: left;
	width: 100%;
} 

h4#s-criteria-h4 {
	font-family: helvetica;
	font-size: 1.077em;
	margin-bottom: 10px;
}

#result-criteria {	font-weight:bold; }

#result-type, #result-criteria {
	float: left;
	margin-left: 3px;
	margin-right: 3px;
/*	max-width:250px; */
}

#result-type {
	width: 120px;
}

#s-criteria-agency, #s-criteria-others {
	float:none;
	width:500px;
}
#s-criteria-agency, #s-criteria-others .clearLeft{
	height: 20px;
}
#s-criteria-others-extra {
	position: absolute;
	top: 109px;
	left: 400px;
}
#s-criteria-others-extra #result-type {
	width:150px;
	height:25px;
}
#exporter {
	position: absolute;
    right: 10px;
	z-index: 1005;
}

#ExportView {
	font-size: 0.769em;	
} 

#ExportView div {
	float: left;
	padding-left: 5px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
}

#ExportView img {
	padding-top: 2px;
}


.pagination {
    float: right;
    width: 60%;
    position: relative;
	font-size: 0.946em;
	line-height: 24px;
	font-weight:bold;
}

#top_pagination {
    bottom: 0;
	top: -20px;
	height:0px;
}

#bottom_pagination {
/*	margin-top: 15px; 
	margin-bottom: 5px; */
	position: relative;
	top: 2px;
}

#search-bottom-bar {
	padding: 0;
}

.pagination div {
	float: right;
	min-width: 5%;
	margin: 0 5px;
}

.pagination span{
	vertical-align: top;
}

.pagination div#rppForm{
	float: right;
	text-align: right;
	margin-right: 0px;
}
.pagination div#rppForm2{
	float: right;
	text-align: right;
	margin-right: 0px;
}
.pagination div#PageListing span  {
	float: left;
}

#btn-goto-first, #btn-goto-prev, #btn-goto-next, #btn-goto-last, #btn-page-go {
	text-indent: -10003px;
	height: 20px; 
	width: 20px;
	cursor: pointer;
}

.btn-buffer {
	width: 20px;
}

#btn-goto-prev { 
	background: url(../images/yui-sprite.png) no-repeat 0 -440px;
}
#btn-goto-next { 
	background: url(../images/yui-sprite.png) no-repeat -20px -440px;
}
#btn-goto-first { 
	background: url(../images/yui-sprite.png) no-repeat 0 -480px;
}
#btn-goto-last { 
	background: url(../images/yui-sprite.png) no-repeat -20px -480px;
}
#btn-page-go { 
	background: url(../images/yui-sprite.png) no-repeat 0 -520px;
	width: 30px;
	margin-left: 5px;
}

#txt-page-go {
	margin-left: 5px;
}
#txt-box-page-go {
	margin-left: 2px;
}

#span-pg-XofYText {
	margin: 0 2px;
}

#rppSelectId {
	font-size: 0.946em;
	line-height: 9px;
	color: #000;
}

#pageGo {
    font-size: 0.846em;
    height: 12px;
    line-height: 9px;
	color: #000;
}

.search-lib-container {
	border-top: #CCC solid 1px;
	border-left: #CCC solid 1px;
	border-right: #CCC solid 1px;
	width: 70px;
	height: 20px;
	position: absolute;
	cursor: pointer;
	display: none;
	color: #999;
	font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	top: 18px;
}
.search-lib-container:hover {
	background-color: #F2F2F2;
	color: #666;
}

#search-naics-container {
	right: 10px;
}
#search-sic-container {
	right: 90px;
}

/*Search Box Results Table */
#search-results-outer {
	width: 965px; 
	overflow: hidden;
	position: relative;
	top: 0px; 
}
#searchResultsContainer {
	width: 965px;
	display: table;
}

#ogdbTable { 
	border: 1px solid #999;
	width: 965px;
}


.tablebottomcolor {
	color:#fff; font-weight:bold; font-size:1.000em; font-family:"Calibri",Arial,Helvetica,sans-serif; height:28px; text-align:left; 
	padding:0 8px; 
	height:28px;
	background-color: #414040;
	min-width: 48px;
	border: none;
	border-right: 1px solid #a9abb1;
	border-bottom: 1px solid #999;
/* 	white-space: nowrap; */
	cursor: pointer;
	min-height: 40px;
	height: 30px; 
}
.tableheadercolor {
	color:#fff; font-weight:bold; font-size:1.177em; font-family:"Calibri",Arial,Helvetica,sans-serif; height:28px; text-align:left; 
	padding:0 8px; 
	height:28px;
	background-color: #414040;
	min-width: 48px;
	border: none;
	border-right: 1px solid #a9abb1;
	border-bottom: 1px solid #999;
/* 	white-space: nowrap; */
	cursor: pointer;
	min-height: 40px;
	height: 40px; 
}
.tableheadercolor a {text-decoration:none; color:#fff; }
.tableheadertext {font-weight:normal; font-size:1.077em; height:28px; text-align:left; padding:3px 8px;}
.table {font-size:0.869em; border: 1px solid #eeeff1; background-color:#fff; 
	font-family:"Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
}
#ogdbTable td ul li{
	font-size:0.769em; 
	border: 1px solid #eeeff1; 
	font-family:"Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
}

.table td {
	border-right: 1px solid #DEDFDB;
	border-bottom: 1px solid #DEDFDB;
	padding:2px 5px; 
}
.tableexport {font-size:0.923em; background-image:url(../images/export_table_bg.jpg); background-repeat:no-repeat;}
.tableexport td {padding: 7px 7px 7px 20px;}	

#ogdbTable th:hover, #ogdbTable th:active {
	background-color:  #828282;
	
}


a.strong-links, #ogdbTable a {
	text-decoration: underline;
	font-weight: bold;
}

a.strong-links:hover, #ogdbTable a:hover {
	text-decoration: none;
}

#ogdbTable td {
	vertical-align: top;
	min-height: 40px;
	height: 40px;
}

#ogdbTable th.sorted {
	background-color:  #E4E4E4;
	color: #000;
}

#ogdbTable .expanderElement {
	padding: 2px;
    -moz-border-radius: 4px;
    border: 1px solid #6F6F6F;
}

#ogdbTable .expander-item{
	line-height: 10pt;
	background: url(../images/yui-sprite.png) no-repeat -13px -927px;
	padding-left: 10px;
}

#ogdbTable .expander-item a {
}

#ogdbTable .expander-item a:hover {
}


/* Even and Odd rows */
#ogdbTable tr.even { background-color: #FFF; }
#ogdbTable tr.even td.sorted { 
	background-color: #e4e4e4; 
	border-bottom: 1px solid #f6f7f8;
}

#ogdbTable tr.odd { background-color: #F0F0F0; }
#ogdbTable tr.odd td.sorted { 
	background-color: #e4e4e4; 
	border-bottom: 1px solid #f6f7f8;
}

#ogdbTable tr:hover { background-color: #f6f5f5; }

#ogdbTable tr.highlight { 
	background-color: #7F9DB9; 
}

#ogdbTable tr.highlight td { 
	border-right: 1px solid #f6f7f8;
}


/* Popup Begin */
#facebox {
	/* overlay is hidden before loading */
	display:none;
	width:320px !important;	
	position: absolute; 
	top: 0px; 
	left: -100px; 
}
#facebox div {
	margin: 0 0 0 0;
	padding:10px;
	border:2px solid #414040;
	background-color:#fff;
}
#facebox h2 {
	margin:-10px;
	margin-bottom:-12px;
	color:#fff;
	background-color:#414040;
	padding:5px 10px;
	font-size:1.077em;
	cursor: move;
}
#facebox .close {
	width:70px;
	height:20px;
	padding:1px; 
	margin:1px; 
	border-spacing:0px;
}
#facebox p {
	font-size:1.000em;
	color:#333;
	cursor: pointer;
	padding:0; 
	margin:0; 
	border-spacing:0;
}
/* Popup End */

/* detail page */
.detail			{padding-bottom:20px;}
.detail-right	{width:353px; float:right;}
.detail-left	{float:left; background-color:#FFFFFF;}

.dataset_catalog {padding-top:20px; min-height: 1100px;}
.pad-left 		{padding-left: 70px;}
.pad-top 		{padding-top:10px; word-wrap:break-word;}
.detailhead1	{width:180px;font-weight:bold; font-size:1.000em; color:#760000; padding-right:15px; padding-left:20px; text-align:left; vertical-align:top; white-space:nowrap;}





.detailhead2	{font-weight:bold; color:#930; font-size:0.846em; padding-bottom:10px;}
.detailhead2 h3 {margin:0px;color:#930;font-size:0.846em;font-weight:bold;}
.details-table	{width:683px;}
.download-table	{width:230px;}
.sidebar		{width:230px;}
.sidepad		{float:right; padding-left:30px;}
.rating			{padding:20px 0 0 20px;}
.captcharow		{padding:20px 0 0 0;}
.ratetitle		{color:#C58325; font-size:0.846em; font-weight:bold; padding-bottom:5px; text-align:center; vertical-align:top; white-space:nowrap;}
.rateheader		{color:#630; padding:5px 0 2px 0; border-top:1px solid #ebebeb; text-align:left; vertical-align:top; white-space:nowrap; font-weight: bold;}
.ratetable		{padding-right:5px; font-size:0.846em;}
.ratepad		{padding:5px 0 2px 0; border-top:1px solid #ebebeb; text-align:center; vertical-align:top; white-space:nowrap;}
.starwidth		{width:84px;}
.button			{padding:10px 28px 0 0; text-align:right;}
.tablepad		{padding-top:5px; padding-bottom:4px; border-bottom:1px solid #ebebeb; text-align:left; vertical-align:top; font-size:0.846em;}
.tablepad-top	{padding:5px 0; border-bottom:1px solid #ebebeb; border-top:1px solid #ebebeb}
.categories		{padding-bottom:30px; width:683px;}
.detail-header	{background-color:#FAFAFA; padding:3px 3px 3px 20px; font-weight:bold;}
.detail-header h2 {margin:0px; color:#760000; font-size:1.231em; font-weight:bold;}
.data			{width:480px;}
.toggletext 	{font-weight:bold;}
.details-format	{color:#3c3d41;}
.commentbox		{padding:20px 0 0 0px;}


.searchInstructions {
	font-weight: bold;
}
#Main #Body .container .content .SearchBoxTable tr .LeftSearchbox .searchInstructions .difColor {
	color: #666666;
}
